<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
</head>
<body>
{{#if error}}
    <h1><i class="fa fa-circle" style="color:red;"></i> {{#if title}}{{title}}{{else}}{{ip}}:{{port}}{{/if}}</h1>
    <p>That server isn't online :(</p>
    {{else}}
    <h1><i class="fa fa-circle" style="color:green;"></i> {{pong.cleanName}}</h1>
    <table class="pure-table">
        <tbody>
        <tr>
            <td>Current players</td>
            <td>{{pong.currentPlayers}}</td>
        </tr>
        <tr>
            <td>Max players</td>
            <td>{{pong.maxPlayers}}</td>
        </tr>

        <tr>
            <td>Version</td>
            <td>{{pong.version}}</td>
        </tr>

        <tr>
            <td>Game</td>
            <td>{{pong.game}}</td>
        </tr>

        <tr>
            <td>Advertise</td>
            <td>{{pong.advertise}}</td>
        </tr>
        <tr>
            <td><i>Developer stuff</i></td>
        </tr>
        <tr>
            <td>Server ID</td>
            <td>{{pong.serverId}}</td>
        </tr>
        <tr>
            <td>Ping ID</td>
            <td>{{pong.pingId}}</td>
        </tr>
        <tr>
            <td>ACK ID</td>
            <td>{{pong.ackId}}</td>
        </tr>
        </tbody>
    </table>

    <br>
    <h2>Default</h2>
    <img src="/{{ip}}:{{port}}/banner"><br>
    <h5>HTML</h5>
    <input class="copy-code" type="text" value='<img src="https://b.mcpe.me/{{ip}}:{{port}}/banner">'/>
    <h5>BB code</h5>
    <input class="copy-code" type="text" value='[img]https://b.mcpe.me/{{ip}}:{{port}}/banner[/img]'/>
    <h5>Direct link</h5>
    <input class="copy-code" type="text" value='https://b.mcpe.me/{{ip}}:{{port}}/banner'/>

    <br>
    <h2>Forest</h2>
    <img src="/{{ip}}:{{port}}/banner?style=forest"><br>
    <h5>HTML</h5>
    <input class="copy-code" type="text" value='<img src="https://b.mcpe.me/{{ip}}:{{port}}/banner?style=forest">'/>
    <h5>BB code</h5>
    <input class="copy-code" type="text" value='[img]https://b.mcpe.me/{{ip}}:{{port}}/banner?style=forest[/img]'/>
    <h5>Direct link</h5>
    <input class="copy-code" type="text" value='https://b.mcpe.me/{{ip}}:{{port}}/banner?style=forest'/>

    <br>
    <h2>Island</h2>
    <img src="/{{ip}}:{{port}}/banner?style=island"><br>
    <h5>HTML</h5>
    <input class="copy-code" type="text" value='<img src="https://b.mcpe.me/{{ip}}:{{port}}/banner?style=island">'/>
    <h5>BB code</h5>
    <input class="copy-code" type="text" value='[img]https://b.mcpe.me/{{ip}}:{{port}}/banner?style=island[/img]'/>
    <h5>Direct link</h5>
    <input class="copy-code" type="text" value='https://b.mcpe.me/{{ip}}:{{port}}/banner?style=island'/>

    <br>
    <h2>Trees</h2>
    <img src="/{{ip}}:{{port}}/banner?style=trees"><br>
    <h5>HTML</h5>
    <input class="copy-code" type="text" value='<img src="https://b.mcpe.me/{{ip}}:{{port}}/banner?style=trees">'/>
    <h5>BB code</h5>
    <input class="copy-code" type="text" value='[img]https://b.mcpe.me/{{ip}}:{{port}}/banner?style=trees[/img]'/>
    <h5>Direct link</h5>
    <input class="copy-code" type="text" value='https://b.mcpe.me/{{ip}}:{{port}}/banner?style=trees'/>

    <br>
    <h2>Waterfall</h2>
    <img src="/{{ip}}:{{port}}/banner?style=waterfall"><br>
    <h5>HTML</h5>
    <input class="copy-code" type="text" value='<img src="https://b.mcpe.me/{{ip}}:{{port}}/banner?style=waterfall">'/>
    <h5>BB code</h5>
    <input class="copy-code" type="text" value='[img]https://b.mcpe.me/{{ip}}:{{port}}/banner?style=waterfall[/img]'/>
    <h5>Direct link</h5>
    <input class="copy-code" type="text" value='https://b.mcpe.me/{{ip}}:{{port}}/banner?style=waterfall'/>

<br><br>
<small>Banner style availability is subject to change without notice. If a banner you are using is removed, it will be replaced with the default one. If it is edited, you will see those edits immediately on your pages.</small>
{{/if}}
<div class="copyright"><p>Made with <i class="fa fa-heart"></i> and <i class="fa fa-code"></i> by <a href="http://99leonchang.com">@99leonchang</a> and <a href="http://falkirks.com">@Falkirks</a></p></div>
</body>
</html>